.box{
  position:absolute;
  top:10vh;
  left:50vw;
  width:40vw;
  height:30vh;
  opacity:0.6;
  overflow-y:scroll;
  border: solid 3px black;/*線*/
  border-radius: 10px;/*角の丸み*/
  overflow-y:scroll;
}
.box p{
  color:white;
  opacity:1;
}